.admin-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #141824;
  color: white;
}
.admin-btm {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.right-top {
  height: 100%;
  background: #070b18;
  overflow-y: scroll;
}
.right-top::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Handle */
.right-top::-webkit-scrollbar-thumb {
  background: rgba(141, 141, 141, 0.7); /* Color of the scrollbar handle */
  border-radius: 10px; /* Round the scrollbar handle */
}

/* Handle on hover */
.right-top::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 141, 141, 1); /* Color on hover */
}

/* .admin-left {
  width: 4%;
} */
.admin-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.admin-top {
  position: sticky;
  top: 0px;
}
